{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Usermanagement
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">IS-Project</a>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                <a href="{% url 'usermanagement:delete_user' %}" class="navbar-text">Hallo {{request.user.username}}!</a>
                <a href="{% url 'usermanagement:logout' %}" class="btn btn-dark">Logout</a>
            {% else %}
                <a href="{% url 'usermanagement:login' %}" class="btn btn-dark">Login</a>
                <a href="{% url 'usermanagement:register' %}" class="btn btn-dark">Account anlegen</a>
            {% endif %}
        </span>
    </nav>
    <div class="container">
        <h1>Test</h1>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                {% block authForm%}

                    <h2>Create new Activity</h2>
                    {% if request.user.is_authenticated %}
                        <form class="form-inline" action="{% url 'logistics:new_activity' %}" method="post">
                            {% csrf_token %}
                            {% for field in activity_form %}
                                {% bootstrap_field field %}
                            {% endfor %}
                            <button class="btn btn-primary" type="submit">Senden</button>
                        </form>
                    {% endif %}

                    <h2>List of all Stations</h2>
                    {% for activity in activities %}
                        <ul>
                            <li>Start: {{ activity.startDate }}</li>
                            <li>Ende: {{ activity.endDate }}</li>
                            <li>Quelle: {{ activity.fromStation }}</li>
                            <li>Ziel: {{ activity.toStation }}</li>
                            <li>Asset: {{ activity.asset }}</li>
                        </ul>
                    {% endfor %}

                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>
